<section class="auth">
  <div class="content-wrapper">
    <div class="auth-change-theme-translation">
      <div class="button change-theme-btn" (click)="changeTheming()">
        <i
          class="pi"
          [ngClass]="currentTheme === 'light' ? 'pi-moon' : 'pi-sun'"
        ></i>
      </div>
      <div
        class="button change-language-btn"
        (click)="switchLanguage(currentLanguage === 'en' ? 'ar' : 'en')"
      >
        <span [class.ar-text]="currentLanguage === 'en'">{{
          currentLanguage === "ar" ? "EN" : "ع"
        }}</span>
      </div>
    </div>
    <div class="auth-logo">
      <img
        [src]="
          currentTheme === 'light'
            ? 'images/logo-light.png'
            : 'images/logo-dark.png'
        "
        width="200"
        alt="auth logo"
        class="light-logo"
      />
    </div>
  </div>
  <div class="register-form-wrapper">
    <router-outlet />
  </div>
</section>
