<div class="main-layout" [ngClass]="{ 'sidebar-open': isSidebarOpen }">
  <div class="left-side">
    <app-sidebar [currentLanguage]="currentLanguage" />
    <p-drawer
      [(visible)]="visibleSidebar"
      header="Drawer"
      [position]="currentLanguage === 'en' ? 'left' : 'right'"
      styleClass="sidebar-drawer"
      [transitionOptions]="'400ms cubic-bezier(0, 0, 0.2, 1)'"
    >
      <app-sidebar [currentLanguage]="currentLanguage" />
    </p-drawer>
  </div>
  <div class="right-side">
    <app-navbar
      [isSidebarOpen2]="isSidebarOpen"
      [currentLanguage]="currentLanguage"
    />
    <div class="content">
      <router-outlet />
    </div>
  </div>
</div>
