<div class="navbar" [class.open]="isSidebarOpen2()">
  <div class="left">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <span class="hamburger-icon" [class.open]="isOpened">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
    <button class="responsive-toggle-sidebar" (click)="toggleSidebarDrawer()">
      <span class="hamburger-icon" [class.open]="isOpened">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
    <div class="search-input">
      <i class="pi pi-search"></i>
      <input type="text" [placeholder]="'SEARCH_PLACEHOLDER' | translate" />
    </div>
  </div>
  <div class="right">
    <div class="responsive-search-input" #searchDropdown>
      <div class="search-icon" (click)="toggleSearchDropdown()">
        <i class="pi pi-search"></i>
      </div>
      <div
        class="search-dropdown"
        [class.arabic-dir]="currentLang.englishName === 'Arabic'"
        [class.active]="isSearchDropdownOpen()"
      >
        <div class="search-area">
          <input
            type="text"
            [placeholder]="'SEARCH_PLACEHOLDER' | translate"
            [class.arabic-dir-input]="currentLang.englishName === 'Arabic'"
          />
          <div
            class="search-icon2"
            [class.arabic-dir-icon]="currentLang.englishName === 'Arabic'"
          >
            <i class="pi pi-search"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="languages-dropdown" #langDropdown>
      <div class="selected-flag" (click)="toggleLangDropdown()">
        <img
          [src]="currentLang.flag"
          [alt]="currentLang.englishName"
          height="20px"
        />
      </div>
      <div
        class="languages-selection"
        [class.arabic-dir]="currentLang.englishName === 'Arabic'"
        [class.active]="isLangDropdownOpen()"
      >
        @for (lang of languages; track $index) {
          <div
            class="lang"
            (click)="switchLang(lang)"
            [class.active]="currentLang.englishName === lang.englishName"
          >
            <img [src]="lang.flag" [alt]="lang.englishName" height="20px" />
            <span>{{
              currentLang.englishName === "Arabic"
                ? lang.arabicName
                : lang.englishName
            }}</span>
          </div>
        }
      </div>
    </div>
    <div class="cart-section" #cartDropdown>
      <div class="cart-section-icon" (click)="toggleCartDropdown()">
        <i class="ri-shopping-bag-line"></i>
        <span class="cart-count">5</span>
      </div>
      <div
        class="cart-dropdown"
        [class.arabic-dir]="currentLang.englishName === 'Arabic'"
        [class.active]="isCartDropdownOpen()"
      >
        <div class="cart-header">
          <p>{{ "MY_CART_LABEL" | translate }}</p>
          <span class="cart-items-count"
            >5 {{ "CART_ITEMS_LABEL" | translate }}</span
          >
        </div>
        <div class="cart-body">
          <div class="cart-items">
            @for (cartItem of cartItems; track cartItem.id) {
              <div class="cart-item">
                <div class="left">
                  <img
                    [src]="cartItem.image"
                    width="50"
                    [alt]="cartItem.name"
                  />
                  <div class="item-details">
                    <p class="item-name">{{ cartItem.name }}</p>
                    <p class="item-quantity-price">
                      {{ cartItem.quantity }} x ${{ cartItem.price }}
                    </p>
                  </div>
                </div>
                <div class="right">
                  <span class="total-price">{{
                    cartItem.quantity * cartItem.price | currency
                  }}</span>
                  <i class="pi pi-times"></i>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="change-theme-section" (click)="changeTheming()">
      <i
        class="pi"
        [ngClass]="currentTheme === 'light' ? 'pi-moon' : 'pi-sun'"
      ></i>
    </div>
  </div>
</div>
