.navbar {
  // padding: 0 20px;
  height: 70px;
  position: fixed;
  width: calc(100% - 250px);
  background-color: var(--navbar-bg-color);
  z-index: 1000;
  height: 70px;
  border-bottom: 1px solid var(--navbar-border-bottom-color);
  transition: 0.4s;
  padding-inline-end: 20px;
  @media all and (max-width: 768px) {
    width: 100%;
  }
  @media all and (max-width: 500px) {
    padding-inline-end: 18px;
  }
  &.open {
    width: calc(100% - 70px);
  }
  .toggle-sidebar {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    top: 6px;
    @media all and (max-width: 768px) {
      display: none;
    }
    .hamburger-icon {
      width: 25px;
      height: 20px;
      position: relative;
      cursor: pointer;
      display: inline-block;
      transition: 0.3s;
      span {
        background-color: #878a99;
        position: absolute;
        border-radius: 2px;
        height: 2px;
        display: block;
        left: 0;
        &:nth-child(1) {
          top: 0;
          width: 80%;
        }
        &:nth-child(2) {
          top: 6px;
          width: 100%;
        }
        &:nth-child(3) {
          top: 12px;
          width: 80%;
        }
      }
      &.open {
        transform: rotate(-90deg);
        position: relative;
        top: -4px;
        span {
          &:nth-child(1) {
            left: 1px;
            top: 5px;
            width: 20px;
            transform: rotate(90deg);
            transition-delay: 150ms;
          }
          &:nth-child(2) {
            left: 3px;
            top: 13px;
            width: 10px;
            transform: rotate(45deg);
            transition-delay: 50ms;
          }
          &:nth-child(3) {
            left: 9px;
            top: 13px;
            width: 10px;
            transform: rotate(-45deg);
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
  .responsive-toggle-sidebar {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    top: 8px;
    @media all and (min-width: 769px) {
      display: none;
    }
    .hamburger-icon {
      width: 25px;
      height: 20px;
      position: relative;
      cursor: pointer;
      display: inline-block;
      transition: 0.3s;
      span {
        background-color: #878a99;
        position: absolute;
        border-radius: 2px;
        height: 2px;
        display: block;
        left: 0;
        &:nth-child(1) {
          top: 0;
          width: 80%;
        }
        &:nth-child(2) {
          top: 6px;
          width: 100%;
        }
        &:nth-child(3) {
          top: 12px;
          width: 80%;
        }
      }
      &.open {
        transform: rotate(-90deg);
        span {
          &:nth-child(1) {
            left: 1px;
            top: 5px;
            width: 20px;
            transform: rotate(90deg);
            transition-delay: 150ms;
          }
          &:nth-child(2) {
            left: 3px;
            top: 13px;
            width: 10px;
            transform: rotate(45deg);
            transition-delay: 50ms;
          }
          &:nth-child(3) {
            left: 9px;
            top: 13px;
            width: 10px;
            transform: rotate(-45deg);
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
  .left {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding-inline-start: 15px;
    .search-input {
      position: relative;
      @media all and (max-width: 992px) {
        display: none;
      }
      input {
        background-color: var(--navbar-search-input-bg-color);
        color: var(--navbar-search-input-text-color);
        border: 0;
        box-shadow: none;
        outline: 0;
        height: 38px;
        padding-left: 40px;
        padding-right: 30px;
        border-radius: 6px;
        transition: 0.4s;
      }
      i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #878a99;
      }
    }
  }
  .responsive-search-input {
    // margin-inline-end: 10px;
    position: relative;
    .search-icon {
      top: 2px;
      cursor: pointer;
      height: 42px;
      width: 42px;
      display: grid;
      place-items: center;
      transition: 0.4s;
      border-radius: 50%;
      @media all and (max-width: 500px) {
        width: 36px;
        height: 36px;
      }
      &:hover {
        background-color: rgba(53, 119, 241, 0.12);
      }
      i {
        color: #878a99;
      }
    }
    .search-dropdown {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
      // width: 150px;
      right: 0;
      top: 50px;
      width: 300px;
      padding: 15px;
      background: var(--navbar-langs-dropdown-bg-color);
      border: 1px solid var(--navbar-langs-dropdown-border-color);
      border-radius: 5px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
      z-index: 1001;
      &.arabic-dir {
        right: auto;
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .search-area {
        display: flex;
        // align-items: center;
        input {
          width: 100%;
          background-color: var(--navbar-search-input-bg-color);
          color: var(--navbar-search-input-text-color);
          border: 0;
          box-shadow: none;
          outline: 0;
          height: 38px;
          padding-inline-start: 10px;
          padding-inline-end: 30px;
          // border-radius: 6px;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          transition: 0.4s;
          &.arabic-dir-input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
        .search-icon2 {
          width: 50px;
          background-color: #405189;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          &.arabic-dir-icon {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          i {
            color: #ffffff;
            font-size: 14px;
          }
        }
      }
      @media all and (max-width: 500px) {
        right: -192px;
      }
    }
    @media all and (min-width: 993px) {
      display: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .languages-dropdown {
    position: relative;
    .selected-flag {
      cursor: pointer;
      height: 42px;
      width: 42px;
      display: grid;
      place-items: center;
      transition: 0.4s;
      border-radius: 50%;
      @media all and (max-width: 500px) {
        width: 36px;
        height: 36px;
      }
      &:hover {
        background-color: rgba(53, 119, 241, 0.12);
      }
    }
    .languages-selection {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
      width: 150px;
      right: 0;
      top: 50px;
      background: var(--navbar-langs-dropdown-bg-color);
      border: 1px solid var(--navbar-langs-dropdown-border-color);
      border-radius: 5px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
      z-index: 1001;
      &.arabic-dir {
        right: auto;
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .lang {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover,
        &.active {
          background-color: var(--navbar-lang-text-color-hover);
        }

        span {
          color: var(--navbar-lang-text-color);
          font-size: 15px;
        }
      }
    }
  }
  .change-theme-section {
    height: 42px;
    width: 42px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 0.4s;
    @media all and (max-width: 500px) {
      width: 36px;
      height: 36px;
    }
    &:hover {
      background-color: rgba(53, 119, 241, 0.12);
    }
    i {
      color: #878a99;
    }
  }
  .cart-section {
    position: relative;
    .cart-section-icon {
      height: 42px;
      width: 42px;
      cursor: pointer;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transition: 0.4s;
      position: relative;
      @media all and (max-width: 500px) {
        width: 36px;
        height: 36px;
      }
      .cart-count {
        background-color: rgb(41, 156, 219);
        border-radius: 50%;
        font-size: 11px;
        padding: 0px 5px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 2px;
      }
      &:hover {
        background-color: rgba(53, 119, 241, 0.12);
      }
      i {
        color: #878a99;
        font-size: 20px;
      }
    }
    .cart-dropdown {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
      width: 420px;
      right: 0;
      top: 50px;
      background: var(--navbar-langs-dropdown-bg-color);
      border: 1px solid var(--navbar-langs-dropdown-border-color);
      border-radius: 5px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
      z-index: 1001;
      &.arabic-dir {
        right: auto;
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      @media all and (max-width: 500px) {
        width: 90vw;
        right: -114px;
      }
      .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed var(--cart-items-header-border-color);
        padding: 1rem 0;
        margin-bottom: 15px;
        p {
          margin: 0;
          font-size: 16px;
          color: var(--cart-header-title-color);
          font-weight: 500;
          padding-inline-start: 1rem;
        }
        .cart-items-count {
          font-size: 13px;
          color: var(--cart-header-title-color);
          font-weight: 500;
          margin-inline-end: 1rem;
          color: rgb(247, 184, 75);
          background-color: var(--cart-items-count-bg-color);
          border-radius: 0.25rem;
          padding: 2px 8px;
        }
      }
      .cart-body {
        padding: 0 1rem 1rem 1rem;
        @media all and (max-width: 500px) {
          padding: 0;
        }
        .cart-items {
          max-height: 300px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--cart-item-scrollbar-thumb-color);
            border-radius: 3px;
          }
          .cart-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 20px;
            transition: 0.3s;
            padding: 1rem;
            // &:last-child {
            //   margin-bottom: 0;
            // }
            p {
              margin: 0;
            }
            .left {
              @media all and (max-width: 500px) {
                gap: 10px;
              }
            }
            .product-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: var(--cart-image-bg-color);
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 35px;
                @media all and (max-width: 500px) {
                  width: 25px;
                }
              }
              @media all and (max-width: 500px) {
                width: 40px;
                height: 40px;
              }
            }
            .item-details {
              .item-name {
                color: var(--cart-item-name-color);
                font-size: 14px;
                font-weight: 500;
              }
              .item-quantity-price {
                font-size: 12px;
                color: #878a99;
              }
            }
            .right {
              display: flex;
              align-items: center;
              gap: 25px;
              .total-price {
                font-weight: 400;
                color: var(--cart-item-name-color);
              }
              .pi-times {
                cursor: pointer;
                color: #3577f1;
                font-size: 12px;
              }
            }
            &:hover {
              background-color: var(--cart-item-hover-bg-color);
            }
          }
          .empty-state-section {
            text-align: center;
            position: relative;
            padding: 10px 0;
            .shopping-cart-icon {
              height: 4.5rem;
              width: 4.5rem;
              margin: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background-color: #dff0fa;
              .ri-shopping-cart-line {
                font-size: 2.25rem;
                color: rgb(41, 156, 219);
              }
            }
            p {
              margin: 1rem 0;
              font-size: 18px;
              text-transform: capitalize;
              color: #495057;
            }
            button {
              background: #0ab39c;
              border-radius: 5px;
              cursor: pointer;
              border: 0;
              color: #fff;
              text-transform: capitalize;
              padding: 0.5rem 1.2rem;
              transition: 0.4s;
              font-size: 14px;
            }
          }
        }
      }
      .cart-footer {
        padding: 1rem;
        border-top: 1px dashed var(--cart-items-header-border-color);
        .total-price-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
            color: #878a99;
            font-size: 17px;
          }
        }
        span {
          color: var(--cart-total-price-color);
        }
        .checkout-button {
          width: 100%;
          border: 0;
          background: #0ab39c;
          border-radius: 5px;
          cursor: pointer;
          border: 0;
          color: #fff;
          text-transform: capitalize;
          padding: 0.5rem 1.2rem;
          transition: 0.4s;
          font-size: 15px;
          margin-top: 15px;
        }
      }
    }
  }
  .full-screen-button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 0.4s;
    @media all and (max-width: 500px) {
      width: 36px;
      height: 36px;
    }
    &:hover {
      background-color: rgba(53, 119, 241, 0.12);
    }
    i {
      color: #878a99;
      font-size: 20px;
    }
    @media all and (max-width: 768px) {
      display: none;
    }
  }
  .notifications-section {
    position: relative;
    .notification-icon {
      height: 42px;
      width: 42px;
      cursor: pointer;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transition: 0.4s;
      position: relative;
      @media all and (max-width: 500px) {
        width: 36px;
        height: 36px;
      }
      .notification-count {
        background-color: rgb(240, 101, 72);
        border-radius: 50%;
        font-size: 11px;
        padding: 0px 5px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 2px;
      }
      &:hover {
        background-color: rgba(53, 119, 241, 0.12);
      }
      i {
        color: #878a99;
        font-size: 20px;
      }
    }
    .notifications-dropdown {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
      width: 320px;
      right: 0;
      top: 50px;
      background: var(--navbar-langs-dropdown-bg-color);
      border: 1px solid var(--navbar-langs-dropdown-border-color);
      border-radius: 5px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
      z-index: 1001;
      &.arabic-dir {
        right: auto;
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      @media all and (max-width: 500px) {
        width: 90vw;
        right: -43px;
      }
      .notifications-header {
        background-color: rgb(64, 81, 137);
        .top {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
            font-size: 16px;
            color: #fff;
            font-weight: 500;
          }
          span {
            background-color: rgb(243, 246, 249);
            font-size: 13px;
            color: rgb(33, 37, 41);
            font-weight: 500;
            padding: 2px 8px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .user-info-section {
    position: relative;
    .user-data {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: var(--user-info-bg-color);
      margin-inline-start: 20px;
      height: 70px;
      padding: 0 20px;
      cursor: pointer;
      @media all and (max-width: 768px) {
        padding: 0;
        background-color: transparent;
      }
      @media all and (max-width: 500px) {
        margin-inline-start: 10px;
      }
      // margin-inline-end: 20px;
      img {
        border-radius: 50%;
        width: 40px;
        @media all and (max-width: 500px) {
          width: 30px;
        }
      }
      p {
        margin: 0;
      }
      .username {
        color: var(--user-info-text-color);
        font-size: 14px;
        font-weight: 500;
      }
      .user-role {
        color: #878a99;
        font-size: 14px;
        font-weight: 500;
      }
      .right-side {
        @media all and (max-width: 768px) {
          display: none;
        }
      }
    }
    .user-dropdown {
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
      width: 200px;
      right: 0px;
      top: 70px;
      background: var(--navbar-langs-dropdown-bg-color);
      border: 1px solid var(--navbar-langs-dropdown-border-color);
      border-radius: 5px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
      z-index: 1001;
      &.arabic-dir {
        right: auto;
        left: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      @media all and (max-width: 500px) {
        width: 90vw;
        right: -3px;
      }
      .welcome-message {
        color: #878a99;
        font-size: 13px;
        margin: 0;
        padding: 10px 15px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 7px 15px;
          cursor: pointer;
          color: var(--user-info-link-color);
          display: flex;
          align-items: center;
          gap: 6px;
          transition: 0.3s;
          &:hover {
            background-color: var(--navbar-lang-text-color-hover);
          }
          i,
          span {
            font-size: 15px;
            color: var(--user-info-link-color);
          }
          &.balance-li {
            justify-content: space-between;
            div {
              display: flex;
              align-items: center;
              gap: 6px;
            }
          }
        }
        &.first-ul {
          border-bottom: 1px solid var(--user-info-divider-color);
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        &.second-ul {
          padding-bottom: 10px;
        }
        .new-text {
          background-color: #daf4f0;
          color: rgb(10, 179, 156);
          font-size: 12px;
          font-weight: 600;
          border-radius: 3px;
          padding: 0px 5px;
        }
      }
    }
  }
}
::ng-deep .notifications-tabs {
  .p-tablist-tab-list {
    background-color: transparent;
    border: 0;
    margin: 0 15px;
  }
  .p-tabpanels {
    background-color: var(--notification-active-tab-bg-color);
    color: #000;
    padding: 0;
  }
  .p-tablist-active-bar {
    display: none;
  }
  .p-tab {
    border-bottom: 0;
    margin: 0;
    padding: 5px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgba(255, 255, 255, 0.6);
    &.p-tab-active {
      background-color: var(--notification-active-tab-bg-color);
      margin: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: #405189;
    }
  }
  .notification-items {
    max-height: 300px;
    margin: 15px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--cart-item-scrollbar-thumb-color);
      border-radius: 3px;
    }
    .notification-item {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      // margin-bottom: 20px;
      transition: 0.3s;
      padding: 15px;
      &:hover {
        background-color: var(--cart-item-hover-bg-color);
      }
      &:last-child {
        margin-bottom: 0;
      }
      .icon-img {
        height: 2rem;
        width: 2rem;
        background-color: #dff0fa;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: rgb(41, 156, 219);
          font-size: 16px;
        }
        &.icon-img1 {
          background-color: #fde8e4;
          i {
            color: rgb(240, 101, 72);
            font-size: 16px;
          }
        }
      }
      .avatar-img {
        border-radius: 50%;
      }
      .right2 {
        p {
          margin: 0;
          padding: 0;
        }
        .notification-title {
          font-size: 15px;
          font-weight: 600;
          color: var(--cart-header-title-color);
        }
        .notification-message {
          // margin-bottom: 0.5rem;
          font-size: 14px;
          color: #878a99;
          &.not-username {
            color: var(--cart-header-title-color);
          }
        }
        .notification-time {
          font-size: 12px;
          display: flex;
          align-items: center;
          gap: 3px;
          margin-top: 5px;
          color: #878a99;
          i {
            color: #878a99;
            font-size: 12px;
          }
        }
      }
    }
  }
  .show-notifications-btn {
    padding: 20px;
    text-align: center;
    border-top: 1px dashed var(--cart-items-header-border-color);
    .show-all-notifications {
      border: 0;
      width: 80%;
      margin: auto;
      color: #0ab39c;
      background-color: #daf4f0;
      padding: 6px 8px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      i {
        position: relative;
        top: 1px;
        display: inline-block;
        margin-inline-start: 4px;
      }
    }
  }
  .empty-state {
    text-align: center;
    position: relative;
    padding: 30px 0;
    p {
      font-size: 18px;
      font-weight: 600;
      color: var(--notification-empty-text-color);
      padding-top: 10px;
      width: 70%;
      margin: auto;
    }
  }
}
