.products {
  padding: 70px 0 0;
  &-header {
    background-color: var(--products-header-bg-color);
    transition: 0.4s;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 22px 10px 20px;
    &-title {
      margin: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      color: var(--heading-color);
      transition: 0.4s;
    }
    &-breadcrumbs {
      display: flex;
      align-items: center;
      gap: 10px;
      .breadcrumb-label {
        color: var(--product-breadcrumbs-color);
        transition: 0.4s;
        font-size: 14px;
        cursor: pointer;
        &.active {
          color: var(--product-breadcrumbs-active-color);
          transition: 0.4s;
        }
      }
      .active-icon {
        color: var(--product-breadcrumbs-active-color);
        transition: 0.4s;
        &.rotate-icon {
          transform: rotate(180deg);
          transition: 0.4s;
        }
      }
    }
  }
  &-body {
    display: flex;
    gap: 20px;
    padding: 0px 22px 20px 20px;
    width: 100%;
    &-filters {
      width: 25%;
      border-radius: 5px;
      background-color: var(--product-filters-bg-color);
      transition: 0.4s;
      .filters-header {
        border-bottom: 1px solid var(--product-filters-header-border-color);
        transition: 0.4s;
        margin-bottom: 1rem;
        padding: 1rem 0;
        .titles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            padding-inline-start: 1rem;
            margin: 0;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: bold;
            color: var(--heading-color);
            transition: 0.4s;
          }
          span {
            padding-inline-end: 1rem;
            text-decoration: underline;
            color: var(--clear-all-filters-color);
            transition: 0.4s;
            font-size: 14px;
            text-transform: capitalize;
            cursor: pointer;
          }
        }
        .filters-categories {
          padding: 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding-bottom: 0;
        }
      }
      .filters-products {
        border-bottom: 1px solid var(--product-filters-header-border-color);
        transition: 0.4s;
        margin-bottom: 1rem;
        padding: 0rem 0 1rem 0;
        &-title {
          padding-inline-start: 1rem;
          margin: 0;
          text-transform: uppercase;
          font-size: 12px;
          color: #878a99;
          transition: 0.4s;
          font-weight: 600;
        }
        .product-types {
          padding: 10px 1rem 0;
          .product-type {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            cursor: pointer;
            &:last-child {
              padding-bottom: 0;
            }
            p {
              margin: 0;
              text-transform: capitalize;
              font-size: 13px;
              color: var(--heading-color);
              transition: 0.4s;
              font-weight: 600;
            }
            span {
              display: inline-block;
              background-color: var(--product-type-count-bg-color);
              transition: 0.4s;
              color: #878a99;
              font-size: 11px;
              font-weight: 600;
              padding: 2px 6px;
              border-radius: 5px;
            }
            &.active {
              p {
                color: #0ab39c;
              }
              span {
                background-color: #0ab39c;
                transition: 0.4s;
                color: #ffffff;
              }
            }
          }
        }
      }
      .price-filters {
        border-bottom: 1px solid var(--product-filters-header-border-color);
        transition: 0.4s;
        margin-bottom: 1rem;
        padding: 0rem 0 1rem 0;
        &-title {
          padding-inline-start: 1rem;
          margin: 0;
          text-transform: uppercase;
          font-size: 12px;
          color: #878a99;
          transition: 0.4s;
          font-weight: 600;
        }
        .prices-slider {
          padding: 1.2rem 1.5rem 0;
        }
      }
    }
    &-table {
      width: 75%;
      padding: 1rem;
      border-radius: 5px;
      background-color: var(--product-filters-bg-color);
      transition: 0.4s;
    }
  }
}
::ng-deep .filter-chip {
  padding: 0;
  // height: 20px;
  padding: 0;
  background-color: #405189;
  padding: 1px 3px 1px 8px;
  border-radius: 5px;
  .p-chip-label {
    font-size: 13px;
  }
  svg {
    width: 12px;
  }
  &.not-removable {
    padding: 1px 7px;
  }
}
::ng-deep .prices-slider {
  .p-slider-handle {
    width: 10px;
    height: 10px;
    background-color: #0ab39c;
    top: 6px;
    inset-inline-start: 1%;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #0ab39c;
    }
  }
}
