<section class="products">
  <div class="products-header">
    <p class="products-header-title">{{ "PRODUCTS_LABEL" | translate }}</p>
    <div class="products-header-breadcrumbs">
      <span class="breadcrumb-label" [routerLink]="'/dashboard'">{{
        "ECOMMERCE_LABEL" | translate
      }}</span>
      <i
        class="ri-arrow-right-s-line active-icon"
        [ngClass]="{
          'rotate-icon': currentLanguage === 'ar',
        }"
      ></i>
      <span class="breadcrumb-label active">{{
        "PRODUCTS_LABEL" | translate
      }}</span>
    </div>
  </div>
  <div class="products-body">
    <div class="products-body-filters">
      <div class="filters-header">
        <div class="titles">
          <p>filters</p>
          <span (click)="clearAllFilters()">clear all</span>
        </div>
        <div class="filters-categories">
          @for (prod of clothesCategories; track prod.id) {
            <p-chip
              class="filter-chip"
              [label]="prod.name"
              [removable]="true"
              (onRemove)="removeCategory(prod.id)"
              [removable]="!$last || clothesCategories.length > 1"
              [class.not-removable]="$last && clothesCategories.length <= 1"
            />
          }
        </div>
      </div>
      <div class="filters-products">
        <p class="filters-products-title">products</p>
        <div class="product-types">
          @for (type of productsTypes; track type.id) {
            <div
              class="product-type"
              [class.active]="activeProfuctTypeId === type.id"
              (click)="toggleProductType(type.id)"
            >
              <p>{{ type.name }}</p>
              <span>{{ type.count }}</span>
            </div>
          }
        </div>
      </div>
      <div class="price-filters mb-0">
        <p class="price-filters-title">price</p>
        <div class="prices-slider">
          <app-slider
            [rangeValues]="rangeValues"
            [(minValue)]="minPrice"
            [(maxValue)]="maxPrice"
            (maxValueChange)="updateMaxPrice($event)"
            (minValueChange)="updateMinPrice($event)"
          />
        </div>
      </div>
      <div class="accordions-section">
        <p-accordion value="0" class="custom-filters-accordion">
          <p-accordion-panel value="0">
            <p-accordion-header>Header I</p-accordion-header>
            <p-accordion-content>
              <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </p-accordion-content>
          </p-accordion-panel>
          <p-accordion-panel value="1">
            <p-accordion-header>Header II</p-accordion-header>
            <p-accordion-content>
              <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                modi.
              </p>
            </p-accordion-content>
          </p-accordion-panel>
          <p-accordion-panel value="2">
            <p-accordion-header>Header III</p-accordion-header>
            <p-accordion-content>
              <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                modi.
              </p>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </div>
    </div>
    <div class="products-body-table">table</div>
  </div>
</section>
