@import "primeicons/primeicons.css";
@import "remixicon/fonts/remixicon.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: var(--auth-bg-color) !important;
  font-family: "Hanken Grotesk", "Cairo", sans-serif !important;
  color: #000000 !important;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}
body.light {
  --auth-bg-color: #f3f3f9;
  --auth-slider-text-color: #9ca1b9;
  --auth-welcome-back-text-color: rgb(64, 81, 137);
  --auth-input-label-color: #212529;
  --auth-form-input-background-color: transparent;
  --auth-form-input-text-color: #212529;
  --auth-form-input-border-color: #ced4da;
  --auth-form-input-border-color-focused: #b3b9d0;
  --auth-create-account-link-color: #ffffff;
  --auth-have-an-account-link-color: #212529;
  --sidebar-bg-color: #405189;
  --navbar-bg-color: #ffffff;
  --navbar-border-bottom-color: #e9ebec;
  --navbar-search-input-bg-color: #f3f3f9;
  --navbar-search-input-text-color: #495057;
  --navbar-lang-text-color: #212529;
  --navbar-lang-text-color-hover: #eff2f7;
  --navbar-langs-dropdown-bg-color: #ffffff;
  --navbar-langs-dropdown-border-color: #e9ebec;
  --cart-header-title-color: #495057;
  --cart-image-bg-color: #f3f6f9;
  --cart-items-count-bg-color: #fef4e4;
  --cart-items-header-border-color: #e9ebec;
  --cart-item-name-color: #495057;
  --cart-item-scrollbar-thumb-color: #ced4da;
  --cart-item-hover-bg-color: #eff2f7;
  --cart-total-price-color: #495057;
  --notification-active-tab-bg-color: #ffffff;
  --notification-empty-text-color: #495057;
  --user-info-bg-color: #f3f3f9;
  --user-info-text-color: #495057;
  --user-info-divider-color: #e9ebec;
  --user-info-link-color: #212529;
  --heading-color: #495057;
  --calendar-bg-color: #ffffff;
  --calendar-tbody-td-color: #495057;
  --calendar-tbody-td-hover-color: #f3f6f9;
  --calendar-tbody-bg-color: #ffffff;
  --calendar-input-text-color: #212529;
  --statistic-card-bg-color: #ffffff;
  --statistic-card-link-text-color: rgb(64, 81, 137);
  --filter-tabs-bg-color: #e1ebfd;
  --orders-count-bg-color: #f9fbfc;
}
body.dark {
  --auth-bg-color: #1a1d21;
  --auth-slider-text-color: #9ca1b9;
  --auth-welcome-back-text-color: rgb(64, 81, 137);
  --auth-input-label-color: #ffffff;
  --auth-form-input-background-color: #262a2f;
  --auth-form-input-text-color: #ced4da;
  --auth-form-input-border-color: #2a2f34;
  --auth-form-input-border-color-focused: #2a3559;
  --auth-create-account-link-color: #212529;
  --auth-have-an-account-link-color: #ced4da;
  --sidebar-bg-color: #212529;
  --navbar-bg-color: #292e32;
  --navbar-border-bottom-color: #292e32;
  --navbar-search-input-bg-color: #202328;
  --navbar-search-input-text-color: #ffffff;
  --navbar-lang-text-color: #adb5bd;
  --navbar-lang-text-color-hover: #2f343a;
  --navbar-langs-dropdown-bg-color: #292e33;
  --navbar-langs-dropdown-border-color: #32383e;
  --cart-header-title-color: #ced4da;
  --cart-image-bg-color: #282b2e;
  --cart-items-count-bg-color: rgba(247, 184, 75, 0.15);
  --cart-items-header-border-color: #32383e;
  --cart-item-name-color: #ced4da;
  --cart-item-scrollbar-thumb-color: #495057;
  --cart-item-hover-bg-color: #2f343a;
  --cart-total-price-color: #ced4da;
  --notification-active-tab-bg-color: #292e33;
  --notification-empty-text-color: #ced4da;
  --user-info-bg-color: #31373c;
  --user-info-text-color: #e9ecef;
  --user-info-divider-color: #32383e;
  --user-info-link-color: #adb5bd;
  --heading-color: #ced4da;
  --calendar-bg-color: #262a2f;
  --calendar-tbody-td-color: #ced4da;
  --calendar-tbody-td-hover-color: #282b2e;
  --calendar-tbody-bg-color: #212529;
  --calendar-input-text-color: #ced4da;
  --statistic-card-bg-color: #212529;
  --statistic-card-link-text-color: #ced4da;
  --filter-tabs-bg-color: rgba(53, 119, 241, 0.15);
  --orders-count-bg-color: #25282c;
}
