.dashboard {
  .welcome-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
    .left-side {
      // width: 100%;
      .welcome-message {
        margin: 0;
        font-size: 16px;
        //   margin-bottom: 5px;
        color: var(--heading-color);
        transition: 0.4s;
      }
      .welcome-subtitle {
        margin: 0;
        font-size: 16px;
        margin-bottom: 0.25rem;
        color: #878a99;
        transition: 0.4s;
        font-size: 15px;
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      // width: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
      .add-product-btn {
        color: #0ab39c;
        border: 0;
        border-radius: 5px;
        background-color: #daf4f0;
        padding: 0px 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-inline-end: 20px;
        gap: 5px;
        cursor: pointer;
        height: 36px;
        text-transform: capitalize;
        transition: 0.4s;
        &:hover {
          background-color: #0ab39c;
          color: #ffffff;
        }
        @media all and (max-width: 462px) {
          margin-top: 20px;
        }
      }
      .pulse-line-btn {
        color: #299cdb;
        border: 0;
        border-radius: 5px;
        background-color: #dff0fa;
        padding: 0px 12px;
        font-size: 14px;
        display: flex;
        align-items: center;
        // margin-inline-end: 20px;
        gap: 5px;
        cursor: pointer;
        height: 36px;
        text-transform: capitalize;
        transition: 0.4s;
        &:hover {
          background-color: #299cdb;
          color: #ffffff;
        }
        @media all and (max-width: 501px) {
          margin-top: 20px;
        }
      }
      @media all and (max-width: 768px) {
        margin-top: 20px;
        justify-content: flex-start;
      }
      @media all and (max-width: 1062px) {
        margin-top: 20px;
        justify-content: flex-start;
      }
    }
    @media all and (min-width: 1062px) and (max-width: 1100px) {
      gap: 20px;
    }
    // @media all and (max-width: 768px) {
    //   display: block;
    // }
  }
  .statistics-data-section {
    margin-top: 15px;
    .statistics-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      .statistics-card {
        width: 100%;
      }
    }
  }
  .revune-and-locations-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    @media all and (max-width: 1126px) {
      display: block;
    }
    .revune-section,
    .locations-section {
      background-color: var(--statistic-card-bg-color);
      box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
      border-radius: 5px;
      transition: 0.4s;
    }
    .locations-section {
      // padding: 1rem;
      @media all and (max-width: 1126px) {
        margin-top: 20px;
      }
    }
    .revune-section {
      min-width: 0;
      width: 100%;
      contain: layout inline-size;
      .revune-header {
        border-bottom: 1px dashed var(--cart-items-header-border-color);
        padding: 1rem 0;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .revune-title {
          padding-inline-start: 1rem;
          margin: 0;
          font-size: 17px;
          color: var(--calendar-tbody-td-color);
          transition: 0.4s;
          font-weight: 600;
        }
        .filter-tabs {
          padding-inline-end: 1rem;
          button {
            border: 0;
            color: #3577f1;
            background-color: var(--filter-tabs-bg-color);
            border-radius: 3px;
            cursor: pointer;
            text-transform: uppercase;
            margin-inline-end: 5px;
            font-size: 13px;
            padding: 4px 7px;
            transition: 0.4s;
            &:hover {
              background-color: #3577f1;
              color: #ffffff;
            }
            &:last-child {
              margin-inline-end: 0;
            }
          }
        }
      }
      .revune-body {
        .top-section {
          display: grid;
          background-color: var(--orders-count-bg-color);
          transition: 0.4s;
          grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
          gap: 20px;
          padding: 0 1rem;
          border-bottom: 1px dashed var(--cart-items-header-border-color);
          @media all and (min-width: 1125px) {
            grid-template-columns: repeat(auto-fit, minmax(79px, 1fr));
          }
          @media all and (min-width: 769px) and (max-width: 1109px) {
            grid-template-columns: repeat(auto-fit, minmax(79px, 1fr));
          }
          .orders-count {
            border-right: 1px dashed var(--cart-items-header-border-color);
            border-left: 0;
            text-align: center;
            transition: 0.4s;
            p {
              margin: 0;
              padding: 15px 0 5px 0;
              color: var(--calendar-tbody-td-color);
              font-size: 17px;
              transition: 0.4s;
              font-weight: 600;
            }
            span {
              display: inline-block;
              padding-bottom: 15px;
              color: #878a99;
              text-transform: capitalize;
            }
            &:last-child {
              border-right: 0;
              p {
                color: rgb(10, 179, 156);
              }
            }
            &.arabic-orders-count {
              &:last-child {
                border-right: 1px dashed var(--cart-items-header-border-color);
              }
              &:first-child {
                border-right: 0;
              }
            }
          }
        }
        .chart-section {
          @media all and (max-width: 768px) {
            overflow-x: auto;
            overflow-y: hidden;
          }
          // app-column-line-mix-chart {
          //   display: block;
          //   width: 100%;
          //   height: 100%;
          // }
        }
      }
    }
    .locations-section {
      .location-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed var(--cart-items-header-border-color);
        padding: 1rem 0;
        p {
          padding-inline-start: 1rem;
          margin: 0;
          font-size: 17px;
          color: var(--calendar-tbody-td-color);
          transition: 0.4s;
          font-weight: 600;
        }
        button {
          margin-inline-end: 1rem;
          color: var(--export-report-btn-text-color);
          border: 0;
          border-radius: 5px;
          background-color: var(--export-report-btn-bg-color);
          padding: 3px 12px;
          font-size: 13px;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            background-color: #405189;
            color: #ffffff;
          }
        }
      }
      .earth-map-container {
        overflow-x: auto;
        @media all and (max-width: 768px) {
          margin: 0 10px 10px;
        }
      }
      .country-progress-bars {
        padding: 0 1rem;
        padding-bottom: 20px;
        .top-part {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 7px;
          p {
            margin: 0;
            color: var(--progress-bar-text-color);
            text-transform: capitalize;
            font-size: 14px;
            transition: 0.4s;
          }
        }
        .progress {
          height: 7px;
          transition: 0.4s;
          background-color: var(--progress-bar-background-color);
          .progress-bar {
            background-color: rgb(64, 81, 137);
          }
        }
      }
    }
  }
  .best-selling-products-and-top-seller {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
    margin-bottom: 20px;
    @media all and (max-width: 1126px) {
      display: block;
    }
    .best-selling-products,
    .top-seller {
      background-color: var(--statistic-card-bg-color);
      box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
      border-radius: 5px;
      transition: 0.4s;
      // design the scrollbar for webkit browsers
      // height: 1000px;
      .section-header {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--cart-items-header-border-color);
        p {
          padding-inline-start: 1rem;
          margin: 0;
          font-size: 17px;
          color: var(--calendar-tbody-td-color);
          transition: 0.4s;
          font-weight: 600;
        }
        .left-side2 {
          padding-inline-end: 1rem;
          display: flex;
          align-items: flex-end;
          gap: 5px;
          .sort-by-label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: var(--sorted-by-label-color);
            transition: 0.4s;
          }
          .reports-label {
            font-size: 14px;
            transition: 0.4s;
            font-weight: 500;
            color: var(--sorting-label-color);
            cursor: pointer;
            text-transform: capitalize;
          }
          .sorting-data {
            position: relative;
            .sorting-label {
              font-size: 14px;
              font-weight: 500;
              position: relative;
              top: 2px;
              color: #495057;
              cursor: pointer;
              text-transform: capitalize;
            }
            .date-filter-dropdown {
              position: absolute;
              inset: 0px 0px auto auto;
              margin: 0px;
              box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
              width: 200px;
              right: 0px;
              top: 41px;
              background: var(--date-filter-dropdown-bg-color);
              border: 1px solid var(--date-filter-dropdown-border-color);
              border-radius: 5px;
              overflow: hidden;
              opacity: 0;
              visibility: hidden;
              transform: translateY(-10px);
              transition:
                opacity 0.25s ease,
                transform 0.25s ease,
                visibility 0.25s;
              z-index: 1001;
              &.report-filter-dropdown {
                top: 17px !important;
              }
              &.arabic-dir {
                right: auto;
                left: 0;
              }
              &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
              @media all and (max-width: 500px) {
                width: 90vw;
                right: -3px;
              }
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                  transition: 0.3s;
                  padding: 7px;
                  cursor: pointer;
                  span {
                    color: var(--date-filter-dropdown-text-color);
                    font-size: 14px;
                    text-transform: capitalize;
                    transition: 0.4s;
                  }
                  &:hover,
                  &.active {
                    background-color: var(
                      --date-filter-dropdown-text-hovered-color
                    );
                  }
                }
              }
            }
          }
        }
      }
      .section-body {
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(56, 65, 74, 0.5);
          border-radius: 4px;
        }
        .best-products {
          overflow: auto;
          @media all and (max-width: 640px) {
            width: 600px;
          }
          // @media all and (max-width: 900px) {
          //   width: 600px;
          // }
          @media all and (min-width: 1127px) and (max-width: 1500px) {
            width: 600px;
          }
          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgba(56, 65, 74, 0.5);
            border-radius: 4px;
          }
          .product {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px;
            transition: 0.4s;
            border-bottom: 1px solid var(--best-product-table-border-color);
            &:hover {
              background-color: var(--cart-item-hover-bg-color);
            }
            &:last-child {
              border-bottom: 0;
            }
            &-img {
              display: flex;
              align-items: center;
              gap: 10px;
              .image {
                background-color: rgba(243, 246, 249);
                height: 3rem;
                width: 3rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 40px;
                }
              }
              .details {
                p {
                  margin: 0;
                  font-size: 14px;
                  color: var(--heading-color);
                  cursor: pointer;
                  text-transform: capitalize;
                  font-weight: 500;
                  transition: 0.4s;
                }
                span {
                  color: var(--product-added-date-text-color);
                  font-size: 13px;
                  transition: 0.4s;
                }
              }
            }
            &-price {
              p {
                margin: 0;
                font-size: 14px;
                font-weight: 400;
                color: var(--heading-color);
                text-transform: capitalize;
                transition: 0.4s;
              }
              span {
                color: var(--product-added-date-text-color);
                font-size: 13px;
                transition: 0.4s;
              }
              .out-of-stock-label {
                font-size: 11px;
                color: var(--out-of-stock-text-color);
                background-color: var(--out-of-stock-bg-color);
                font-weight: 600;
                border-radius: 4px;
                padding: 0px 7px;
                transition: 0.4s;
                width: fit-content;
              }
            }
          }
        }
        .pagination-container {
          padding: 10px 0;
        }
        .product-percentage {
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            color: rgb(10, 179, 156);
            font-size: 17px;
          }
        }
      }
    }
    .top-seller {
      @media all and (max-width: 1126px) {
        margin-top: 20px;
      }
    }
  }
  .store-visits-and-recent-orders {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
    @media all and (max-width: 1500px) {
      display: block;
    }
    .store-visits-section,
    .recent-orders-section {
      background-color: var(--statistic-card-bg-color);
      box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
      border-radius: 5px;
      transition: 0.4s;
      .section-header {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--cart-items-header-border-color);
        p {
          padding-inline-start: 1rem;
          margin: 0;
          font-size: 17px;
          color: var(--calendar-tbody-td-color);
          transition: 0.4s;
          font-weight: 600;
        }
        .left-side2 {
          padding-inline-end: 1rem;
          display: flex;
          align-items: flex-end;
          gap: 5px;
          .sort-by-label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: var(--sorted-by-label-color);
            transition: 0.4s;
          }
          .reports-label {
            font-size: 14px;
            transition: 0.4s;
            font-weight: 500;
            color: var(--sorting-label-color);
            cursor: pointer;
            text-transform: capitalize;
          }
          .sorting-data {
            position: relative;
            .sorting-label {
              font-size: 14px;
              font-weight: 500;
              position: relative;
              top: 2px;
              color: #495057;
              cursor: pointer;
              text-transform: capitalize;
            }
            .date-filter-dropdown {
              position: absolute;
              inset: 0px 0px auto auto;
              margin: 0px;
              box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
              width: 200px;
              right: 0px;
              top: 41px;
              background: var(--date-filter-dropdown-bg-color);
              border: 1px solid var(--date-filter-dropdown-border-color);
              border-radius: 5px;
              overflow: hidden;
              opacity: 0;
              visibility: hidden;
              transform: translateY(-10px);
              transition:
                opacity 0.25s ease,
                transform 0.25s ease,
                visibility 0.25s;
              z-index: 1001;
              &.report-filter-dropdown {
                top: 17px !important;
              }
              &.arabic-dir {
                right: auto;
                left: 0;
              }
              &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
              @media all and (max-width: 500px) {
                width: 90vw;
                right: -3px;
              }
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                  transition: 0.3s;
                  padding: 7px;
                  cursor: pointer;
                  span {
                    color: var(--date-filter-dropdown-text-color);
                    font-size: 14px;
                    text-transform: capitalize;
                    transition: 0.4s;
                  }
                  &:hover,
                  &.active {
                    background-color: var(
                      --date-filter-dropdown-text-hovered-color
                    );
                  }
                }
              }
            }
          }
          .generate-report-btn {
            color: var(--generate-report-btn-color);
            background-color: var(--generate-report-btn-bg-color);
            transition: 0.4s;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 3px 12px;
            gap: 5px;
            i {
              font-size: 14px;
            }
            span {
              font-size: 14px;
            }
            &:hover {
              background-color: #299cdb;
              color: #ffffff;
            }
          }
        }
      }
      .section-body {
        table {
          width: 100%;
          border-collapse: collapse;
          thead {
            border-bottom: 1px solid var(--cart-items-header-border-color);
            background-color: var(--table-thead-bg-color);
            transition: 0.4s;
            tr {
              th {
                padding: 10px 0;
                // text-align: center;
                color: #878a99;
                font-size: 14px;
                padding: 10px 16px;
              }
            }
          }
          tbody {
            td {
              padding: 13px 16px;
              .data {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: flex-start;
                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }
                span {
                  color: var(--heading-color);
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 500;
                }
              }
              .order-id {
                color: rgb(64, 81, 137);
                font-weight: 600;
                font-size: 13px;
              }
              .td-data {
                color: var(--heading-color);
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 500;
                &.status {
                  padding: 2px 7px;
                  border-radius: 4px;
                  text-align: center;
                  font-size: 12px;
                  font-weight: bold;
                }
                &.order-amount {
                  color: rgb(10, 179, 156);
                }
                &.paid {
                  background-color: #daf4f0;
                  color: rgb(10, 179, 156);
                  width: fit-content;
                }
                &.pending {
                  background-color: #fef4e4;
                  color: rgb(247, 184, 75);
                  width: fit-content;
                }
                &.unpaid {
                  background-color: #fde8e4;
                  color: rgb(240, 101, 72);
                  width: fit-content;
                }
              }
              .rating-and-votes {
                display: flex;
                align-items: center;
                gap: 5px;
                .votes-data {
                  font-size: 11px;
                  color: #878a99;
                }
              }
              &.rating-votes-container {
                padding-inline-end: 5px;
              }
            }
          }
        }
      }
    }
    .recent-orders-section {
      // padding: 1rem;
      @media all and (max-width: 1500px) {
        margin-top: 20px;
      }
      .section-body {
        overflow-x: auto;
      }
    }
  }
}
::ng-deep .select-Range-date {
  margin-inline-end: 20px;
  @media all and (max-width: 442px) {
    margin-inline-end: 0px;
  }
  .p-inputtext {
    background-color: var(--calendar-bg-color);
    transition: 0.4s;
    border: 0;
    color: var(--calendar-input-text-color);
    font-size: 14px;
    min-width: 215px;
  }
  .p-datepicker-dropdown {
    background-color: rgb(64, 81, 137);
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    svg {
      color: #ffffff;
    }
  }
  .p-datepicker-panel {
    // background-color: #fff;
    padding: 0;
    border: 0;
    overflow: auto;
    box-shadow: none;
    outline: 0;
  }
  .p-datepicker-header {
    background-color: #405189;
    padding: 5px 0;
    border: 0;
    svg {
      color: rgba(255, 255, 255, 0.9);
    }
    .p-datepicker-select-year,
    .p-datepicker-select-month {
      &:hover {
        background-color: transparent;
      }
    }
  }
  .p-datepicker-day-view {
    padding: 0;
    margin: 0;
    thead {
      background-color: #405189;
      th {
        text-align: center;
        span {
          font-size: 15px;
        }
      }
    }
    tbody {
      background-color: var(--calendar-tbody-bg-color);
      border: 1px solid var(--user-info-divider-color);
      td {
        // padding: 10px;
        span {
          color: var(--calendar-tbody-td-color);
          &:hover,
          &.p-datepicker-day-selected-range {
            background-color: var(--calendar-tbody-td-hover-color);
          }
          &.p-datepicker-day-selected {
            background-color: #405189;
            color: #ffffff;
          }
        }
      }
    }
  }
}
::ng-deep .p-datepicker-today > .p-datepicker-day {
  border: 1px solid #405189;
  background-color: #e3e5ed;
}
::ng-deep .arabic-datepicker {
  .p-datepicker-dropdown {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
::ng-deep .best-products-paginator {
  background-color: transparent !important;
  justify-content: flex-end !important;
  .p-paginator-page {
    width: 35px;
    height: 35px;
    min-width: auto;
    border-radius: 50%;
    &.p-paginator-page-selected,
    &:hover {
      background-color: #405189 !important;
      border-color: #405189 !important;
      color: #ffffff !important;
    }
  }
  .p-paginator-first,
  .p-paginator-last,
  .p-paginator-next,
  .p-paginator-prev {
    width: 35px;
    height: 35px;
    min-width: auto;
    border-radius: 50%;
    &:hover {
      background-color: #405189 !important;
      border-color: #405189 !important;
      color: #ffffff !important;
    }
  }
  .p-paginator-current {
    color: #878a99;
    font-size: 15px;
  }
}
