<section class="dashboard">
  <div class="welcome-header">
    <div class="left-side">
      <p class="welcome-message">
        {{ "WELCOME_TO_USER" | translate: { username: "Ahmed John" } }}
      </p>
      <p class="welcome-subtitle">
        {{ "WELCOME_TO_USER_SUBTITLE" | translate }}
      </p>
    </div>
    <div class="right-side">
      <div class="date-calendar">
        <p-datepicker
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          styleClass="select-Range-date"
          [class.arabic-datepicker]="currentLanguage === 'ar'"
          [dateFormat]="'dd M,yy'"
        />
      </div>
      <button class="add-product-btn">
        <i class="ri-add-circle-line"></i>
        {{ "ADD_PRODUCT_LABEL" | translate }}
      </button>
      <button class="pulse-line-btn">
        <i class="ri-pulse-fill"></i>
      </button>
    </div>
  </div>
  <div class="statistics-data-section">
    <div class="statistics-cards">
      @for (card of statisticsData; track card.id) {
        <app-statistic-card
          [statisticCardData]="card"
          [currentLanguage]="currentLanguage"
          [currentTheme]="currentTheme"
        />
      }
    </div>
  </div>
  <div class="revune-and-locations-section">
    <div class="revune-section">
      <div class="revune-header">
        <p class="revune-title">{{ "REVUNE_LABEL" | translate }}</p>
        <div class="filter-tabs">
          <button type="button" class="tab">all</button>
          <button type="button" class="tab">1M</button>
          <button type="button" class="tab">6M</button>
          <button type="button" class="tab">1Y</button>
        </div>
      </div>
      <div class="revune-body">
        <div class="top-section">
          <div
            class="orders-count"
            [class.arabic-orders-count]="currentLanguage === 'ar'"
          >
            <p [appCountUp]="7585">0</p>
            <span>{{ "ORDERS_LABEL" | translate }}</span>
          </div>
          <div
            class="orders-count"
            [class.arabic-orders-count]="currentLanguage === 'ar'"
          >
            <p [appCountUp]="228931" [isCurrency]="true">0</p>
            <span>{{ "EARNINGS_LABEL" | translate }}</span>
          </div>
          <div
            class="orders-count"
            [class.arabic-orders-count]="currentLanguage === 'ar'"
          >
            <p [appCountUp]="367">0</p>
            <span>{{ "REFUNDS_LABEL" | translate }}</span>
          </div>
          <div
            class="orders-count"
            [class.arabic-orders-count]="currentLanguage === 'ar'"
          >
            <p>18.92%</p>
            <span>{{ "CONVERSION_LABEL" | translate }}</span>
          </div>
        </div>
        <div class="chart-section">
          <app-column-line-mix-chart
            [currentLang]="currentLanguage"
            [currentTheme]="currentTheme"
            [chartData]="revenueData"
            [revenueChartLegends]="revenueChartLegends"
          />
        </div>
      </div>
    </div>
    <div class="locations-section">
      <div class="location-header">
        <p>{{ "SALES_BY_LOCATIONS_LABEL" | translate }}</p>
        <button>
          {{ "EXPORT_REPORT_LABEL" | translate }}
        </button>
      </div>
      <div class="location-body">
        <div class="text-center pt-3 px-3 earth-map-container">
          <app-earth-map
            [currentLang]="currentLanguage"
            [currentTheme]="currentTheme"
          />
        </div>
        <div class="country-progress-bars">
          <div class="progress-details mb-3">
            <div class="top-part">
              <p class="country-name">canada</p>
              <p class="percentage">75%</p>
            </div>
            <div class="bottom-part">
              <div
                class="progress"
                role="progressbar"
                aria-label="Default striped example"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped"
                  style="width: 75%"
                ></div>
              </div>
            </div>
          </div>
          <div class="progress-details mb-3">
            <div class="top-part">
              <p class="country-name">greenland</p>
              <p class="percentage">47%</p>
            </div>
            <div class="bottom-part">
              <div
                class="progress"
                role="progressbar"
                aria-label="Default striped example"
                aria-valuenow="47"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped"
                  style="width: 47%"
                ></div>
              </div>
            </div>
          </div>
          <div class="progress-details">
            <div class="top-part">
              <p class="country-name">russia</p>
              <p class="percentage">82%</p>
            </div>
            <div class="bottom-part">
              <div
                class="progress"
                role="progressbar"
                aria-label="Default striped example"
                aria-valuenow="82"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped"
                  style="width: 82%"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="best-selling-products-and-top-seller">
    <div class="best-selling-products">
      <div class="section-header">
        <p>{{ "BEST_SELLING_PRODUCTS_LABEL" | translate }}</p>
        <div class="left-side2">
          <span class="sort-by-label">{{ "SORT_BY_LABEL" | translate }}:</span>
          <div class="sorting-data">
            <span
              class="sorting-label"
              (click)="toggleUserDropdown()"
              #DateFilterDropdown
            >
              {{
                currentLanguage === "ar"
                  ? selectedDateFilter.arabicName
                  : selectedDateFilter.englisthName
              }}
              <i class="ri-arrow-down-s-line"></i>
            </span>
            <div
              class="date-filter-dropdown"
              [class.arabic-dir]="currentLanguage === 'ar'"
              [class.active]="isDateDropdownOpen()"
            >
              <ul>
                @for (date of dateFilterOptions; track $index) {
                  <li
                    (click)="changeSelectedDate(date)"
                    [class.active]="
                      selectedDateFilter.arabicName === date.arabicName ||
                      selectedDateFilter.englisthName === date.englisthName
                    "
                  >
                    <span>
                      {{
                        currentLanguage === "ar"
                          ? date.arabicName
                          : date.englisthName
                      }}
                    </span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="best-products">
          @for (
            product of bestSellerProducts | paginator: first : rows;
            track product.id
          ) {
            <div class="product">
              <div class="product-img" style="width: 33%">
                <div class="image">
                  <img [src]="product.imageUrl" alt="product image" />
                </div>
                <div class="details">
                  <p [routerLink]="['/products', product.id]">
                    {{
                      currentLanguage === "ar"
                        ? product.arabicName
                        : product.englishName
                    }}
                  </p>
                  <span>{{ product.addedDate | date: "mediumDate" }}</span>
                </div>
              </div>
              <div class="product-price" style="width: 15%">
                <p>
                  {{ product.price | currency: "USD" : "symbol" : "1.0-2" }}
                </p>
                <span>{{ currentLanguage === "ar" ? "السعر" : "Price" }}</span>
              </div>
              <div class="product-price" style="width: 15%">
                <p>{{ product.ordersNumber }}</p>
                <span>{{
                  currentLanguage === "ar" ? "الطلبات" : "Orders"
                }}</span>
              </div>
              <div class="product-price" style="width: 17%">
                @if (product.numberInStock) {
                  <p>{{ product.numberInStock }}</p>
                } @else {
                  <p class="out-of-stock-label">
                    {{ "OUT_OF_STOCK_LABEL" | translate }}
                  </p>
                }
                <span>{{
                  currentLanguage === "ar" ? "المخزون" : "Stock"
                }}</span>
              </div>
              <div class="product-price" style="width: 17%">
                <p>
                  {{ product.amount | currency: "USD" : "symbol" : "1.0-2" }}
                </p>
                <span>{{
                  currentLanguage === "ar" ? "المبلغ" : "Amount"
                }}</span>
              </div>
            </div>
          }
          <div class="pagination-container">
            <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="first"
              [rows]="rows"
              [totalRecords]="bestSellerProducts.length"
              styleClass="best-products-paginator"
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="
                currentLanguage === 'ar'
                  ? 'عرض {first} إلى {last} من أصل {totalRecords} نتيجة'
                  : 'Showing {last} of {totalRecords} Results'
              "
            />
          </div>
        </div>
      </div>
    </div>
    <div class="top-seller">
      <div class="section-header">
        <p>{{ "TOP_SELLER_LABEL" | translate }}</p>
        <div class="left-side2">
          <span
            class="reports-label"
            (click)="toggleReportDropdown()"
            #ReportDropdown
            style="cursor: pointer"
          >
            {{ "REPORTS_LABEL" | translate }}
            <i class="ri-arrow-down-s-line"></i>
          </span>
          <div class="sorting-data">
            <div
              class="date-filter-dropdown report-filter-dropdown"
              [class.arabic-dir]="currentLanguage === 'ar'"
              [class.active]="isReportDropdownOpen()"
            >
              <ul>
                @for (date of reportFilterOptions; track $index) {
                  <li
                    (click)="changeSelectedReportOption(date)"
                    [class.active]="
                      selectedReportOption.arabicName === date.arabicName ||
                      selectedReportOption.englisthName === date.englisthName
                    "
                  >
                    <span>
                      {{
                        currentLanguage === "ar"
                          ? date.arabicName
                          : date.englisthName
                      }}
                    </span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="best-products top-sellers-data">
          @for (
            product of topSellers | paginator: first2 : rows2;
            track product.id
          ) {
            <div class="product">
              <div class="product-img" style="width: 36%">
                <div class="image">
                  <img [src]="product.imageUrl" alt="product image" />
                </div>
                <div class="details">
                  <p>
                    {{
                      currentLanguage === "ar"
                        ? product.arabicName
                        : product.englishName
                    }}
                  </p>
                  <span>{{ product.ownerName }}</span>
                </div>
              </div>
              <div class="product-price" style="width: 25%">
                <p>{{ product.category }}</p>
              </div>
              <div class="product-price" style="width: 12%">
                @if (product.stock) {
                  <p>{{ product.stock }}</p>
                } @else {
                  <p class="out-of-stock-label">
                    {{ "OUT_OF_STOCK_LABEL" | translate }}
                  </p>
                }
                <span>{{
                  currentLanguage === "ar" ? "المخزون" : "Stock"
                }}</span>
              </div>
              <div class="product-price" style="width: 12%">
                <p>
                  {{
                    product.totalSales | currency: "USD" : "symbol" : "1.0-2"
                  }}
                </p>
              </div>
              <div class="product-price product-percentage" style="width: 15%">
                <p>{{ product.percentageOfTotalSales }}</p>
                <i class="ri-bar-chart-2-fill"></i>
              </div>
            </div>
          }
          <div class="pagination-container">
            <p-paginator
              (onPageChange)="onTopSellerChange($event)"
              [first]="first2"
              [rows]="rows2"
              [totalRecords]="topSellers.length"
              styleClass="best-products-paginator"
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="
                currentLanguage === 'ar'
                  ? 'عرض {first} إلى {last} من أصل {totalRecords} نتيجة'
                  : 'Showing {last} of {totalRecords} Results'
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="store-visits-and-recent-orders">
    <div class="store-visits-section">
      <div class="section-header">
        <p>{{ "STORE_VISITS_LABEL" | translate }}</p>
        <div class="left-side2">
          <span
            class="reports-label"
            (click)="toggleReportDropdown2()"
            #ReportDropdown2
            style="cursor: pointer"
          >
            {{ "REPORTS_LABEL" | translate }}
            <i class="ri-arrow-down-s-line"></i>
          </span>
          <div class="sorting-data">
            <div
              class="date-filter-dropdown report-filter-dropdown"
              [class.arabic-dir]="currentLanguage === 'ar'"
              [class.active]="isReportDropdownOpen2()"
            >
              <ul>
                @for (date of reportFilterOptions; track $index) {
                  <li
                    (click)="changeSelectedReportOption2(date)"
                    [class.active]="
                      selectedReportOption2.arabicName === date.arabicName ||
                      selectedReportOption2.englisthName === date.englisthName
                    "
                  >
                    <span>
                      {{
                        currentLanguage === "ar"
                          ? date.arabicName
                          : date.englisthName
                      }}
                    </span>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="dunat-chart-container">
          <app-donut-chart
            [currentLang]="currentLanguage"
            [currentTheme]="currentTheme"
            [chartData]="dunatChartData"
          />
        </div>
      </div>
    </div>
    <div class="recent-orders-section">
      <div class="section-header" style="padding: 0.95rem 0">
        <p>{{ "RECENT_ORDERS_LABEL" | translate }}</p>
        <div class="left-side2">
          <button class="generate-report-btn">
            <i class="ri-file-list-3-line"></i>
            <span>{{ "GENERATE_REPORT_LABEL" | translate }}</span>
          </button>
        </div>
      </div>
      <div class="section-body">
        <table>
          <thead>
            <tr>
              <th>{{ "ORDER_ID_LABEL" | translate }}</th>
              <th>{{ "CUSTOMER_LABEL" | translate }}</th>
              <th>{{ "PRODUCT_LABEL" | translate }}</th>
              <th>{{ "AMOUNT_LABEL" | translate }}</th>
              <th>{{ "VENDOR_LABEL" | translate }}</th>
              <th>{{ "STATUS_LABEL" | translate }}</th>
              <th>{{ "RATED_LABEL" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (order of recentOrders; track order.orderId) {
              <tr>
                <td>
                  <span class="order-id">
                    {{ order.orderId }}
                  </span>
                </td>
                <td>
                  <div class="data">
                    <img [src]="order.customerImg" [alt]="order.customerName" />
                    <span>{{ order.customerName }}</span>
                  </div>
                </td>
                <td>
                  <span class="td-data">{{ order.productName }}</span>
                </td>
                <td>
                  <span class="td-data order-amount">
                    {{ order.amount | currency: "USD" : "symbol" : "1.0-2" }}
                  </span>
                </td>
                <td>
                  <span class="td-data">{{ order.vendor }}</span>
                </td>
                <td>
                  <span
                    class="status td-data"
                    [class.paid]="order.status === 'Paid'"
                    [class.pending]="order.status === 'Pending'"
                    [class.unpaid]="order.status === 'Unpaid'"
                  >
                    {{ order.status }}
                  </span>
                </td>
                <td class="rating-votes-container">
                  <div class="rating-and-votes">
                    <span class="td-data">{{
                      order.rating | number: "1.1-1"
                    }}</span>
                    <span class="votes-data">({{ order.votes }} votes)</span>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
